.button {
    padding: 0.625rem 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    background: var(--neutral-07100, #141718);
    height: 2.5rem;
    color: #fff;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 0.9rem;
}

.textinput {
    border: none;
    border-bottom: 1px solid var(--neutral-03100, #E8ECEF);
    height: 2.1rem;
}

.textinput:focus {
    outline: lightgray;
}